  /*-- Configurations --*/
body {
  margin: 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  background-color: black;
  color: seashell;
}

  /*-- Globals --*/

h2  {
  font-size: 33px;
}

h3 {
  font-size: 26px;
  font-family: 'Zilla Slab';
}

h4 {
    font-size: 22px;
    font-family: 'Zilla Slab';
    font-weight: lighter;
}

p {
  font-size: 20px;
  padding: 10px 20px;
  font-family: 'Zilla Slab';
}

h2, h4 {
  margin: 5px;
}

.container {
  display: flex;
}

  /*-- Header --*/
header {
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.logo {
  height: 50px;
  padding-left: 10px;
}

.navegation {
  font-family: 'Zilla Slab';
  font-weight: Medium;
  font-size: 22px;
  padding: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

  /*-- "Mission" part --*/
div#mission {
  margin: auto;
  height: 700px;
  max-width: 1200px;
  padding-top: 69px;
  background-image: url("./../imgs/img-mission-background.jpg");
  align-items: center;
}

div#mission  div {
  margin: auto;
  width: 100%;
  background-color: black;
  opacity: 0.85;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 15px 0px;
}

  /*-- Featured Tea --*/
div#featured-tea {
  margin: auto;
  max-width: 1000px;
  padding: 70px 0px;
  text-align: center;
  flex-direction: column;
}

.menu  {
   justify-content: center;
   flex-wrap: wrap;
   flex-shrink: 1;
}

.item-menu {
  padding: 12px;
}

.item-menu img {
   height: 200px;
   width: 300px;
   border: 1px solid seashell;
   border-radius: 5px;
}

.item-menu h4 {
  font-weight: bold;
}
 /*-- Locations --*/
 div#locations {
   overflow: auto;
   margin: auto;
   max-width: 1200px;
   height: 500px;
   padding-top: 70px;
   background-image: url("./../imgs/img-locations-background.jpg");
   text-align: center;
 }

 div#locations h2 {
   text-shadow: 1px 1px 2px #aaa;
 }

.places {
  justify-content: center;
  flex-wrap: wrap;
}

.places .direction {
  width: 300px;
  text-align: center;
  background-color: black;
  margin: 15px 20px;
  opacity: 0.85;
}

/*-- Contacts Footer--*/
footer {
  width: 100%;
}
footer .contacts {
  text-align: center;
  height: 200px;
}
.contacts .information {
  padding-top: 20px;
}

h5 {
  font-family: 'Zilla Slab';
  font-weight: lighter;
  font-size: 20px;
  margin: 0px 0px 20px 20px;
}
